.itemBox:hover > :nth-child(2) {
  visibility: visible;
  opacity: 0.8;
  color: black;
  transition: 0.3s;
  height: 200px;
  border-radius: 1rem 1rem 0rem 0rem;
}

.itemBox:hover > :nth-child(2) > :nth-child(1) {
  margin-left: 0px;
  transition: 0.8s;
}

.itemBox:hover > :nth-child(2) > :nth-child(2) {
  margin-left: 0px;
  transition: 1s;
}
